@import "../../style/Mixins.scss";

.flex{
  display: flex;
  align-items: center;
  @include fluid(margin-bottom, 10px, 20px);
  
}
.title{
  @include fluid(font-size,18px, 20px);
  font-weight: 700;
  @include fluid(margin-right, 15px, 25px);
}
.link{
  @include fluid(font-size,14px, 16px);
  color: #00FFC2;

}
.card{
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.img{
  width: 100%;
  @include fluid(height, 120px, 160px);
  object-fit: contain;
  object-position: center;
  overflow: hidden;
  background: #fff;
  border-radius: 15px;
}
.text{
  @include fluid(padding-left, 5px, 10px);
  @include fluid(padding-right, 5px, 10px);
  @include fluid(padding-bottom, 10px, 20px);
  @include fluid(font-size,10px, 12px);
  font-weight: 600;
}
.swiper{
  width: 100%;
  height: 100%;
  margin-right: 30px !important;
}
.flexSwiper{
  display: flex;
  align-items: center;
  height: 100%;
}
.btn{
  @include fluid(height, 195px, 240px);
  @include fluid(padding-left, 15px, 20px);
  @include fluid(padding-right, 15px, 20px);
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow{
  background: url("../../assets/swiperArrow.svg") no-repeat;
  width: 15px;
  height: 30px;
  @include fluid(height, 20px, 30px);
  background-size: contain;
}