@import "../../style/Mixins.scss";
.title{
  @include fluid(font-size,18px, 24px);
  color: #000;
  position: relative;
  font-weight: 700;
  @include fluid(margin-bottom, 35px, 70px);
  &:before{
    position: absolute;
    bottom: -20px;
    left: 0;
    content: "";
    background: #00FFC2;
    @include fluid(width, 150px, 350px);
    height: 3px;
  }
}
.subtitle{
  @include fluid(font-size,16px, 20px);
  font-weight: 700;
  @include fluid(margin-bottom, 15px, 30px);
  
}
.switchItem{
  display: flex;
  align-items: center;
  @include fluid(margin-bottom, 10px, 15px);
}
.switch{
    @include fluid(margin-right, 15px, 25px);
  width: 50px;
  height: 25px;
  &[aria-checked="true"]{
    background: #00FFC2;
  }
  div{
    height: 20px;
    width: 20px;
    box-shadow: 0 0 0 2px rgba(0, 255, 192, 0.2) !important;
  }
}
.text{
  @include fluid(font-size,14px, 16px);
  font-weight: 500;
  color: #000000;
}
.item{
  @include fluid(margin-bottom, 25px, 50px);
}