@import "../../style/Mixins.scss";

.header{
  background: #333333;
  position: relative;
}
.headerContainer{
  @include container;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include fluid(padding-top, 10px, 20px);
  @include fluid(padding-bottom, 10px, 20px);
}
.logo{
  @include fluid(width, 170px, 208px);
  @include fluid(height, 38px, 43px);
  object-fit: contain;
}
.headerUnder{
  
}


