@import "../Style/Mixins";
@import "../fonts/cera-pro/stylesheet.css";
@import "../fonts/style.css";
@import "antd/dist/antd.css";
@import "antd/dist/antd.dark.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.gradientWrapper {
  overflow-x: hidden;
  position: relative;
}
button {
  border: none;
}
.App {
}
body {
  font-family: "Cera pro", sans-serif !important;
  background: #0d0d0d;
  color: #fff;
  height: 100%;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  max-width: 100%;
}
.gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background: rgb(2, 0, 36);
  z-index: -1;
  background: linear-gradient(
    0deg,
    rgba(13, 13, 13, 0.1) 0%,
    rgba(47, 105, 255, 0.2) 100%
  );
}
.block {
  @include neumorphism;
  @include fluid(padding-top, 10px, 20px);
  @include fluid(padding-bottom, 10px, 20px);
  @include fluid(padding-left, 25px, 50px);
  @include fluid(padding-right, 25px, 50px);
  border-radius: 15px;
  @include fluid(margin-bottom, 20px, 35px);
  box-shadow: 0px 9px 25px 2px rgba(151, 149, 149, 0),
    inset 0px 0px 10px 2px rgba(0, 0, 0, 0);
  transition: 0.38s ease-in-out;
  &:hover {
    box-shadow: 0px 9px 25px 2px rgba(151, 149, 149, 0.25),
      inset 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.ant-select-selector {
  border-radius: 76px !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}
.btn {
  display: block;
  color: #fff;
  width: fit-content;
  @include fluid(font-size, 12px, 14px);
  @include fluid(padding-top, 8px, 10px);
  @include fluid(padding-bottom, 8px, 10px);
  @include fluid(padding-left, 30px, 50px);
  @include fluid(padding-right, 30px, 50px);
  background: $purpleGradient;
  background-size: 150% 100%;
  box-shadow: 0px 0px 20px rgba(47, 105, 255, 0.38);
  border-radius: 8px;
  transition: 0.38s ease-in-out;
  &:hover {
    background-size: 100% 100%;
    color: #fff;
  }
}
a {
  text-decoration: none;
}
.subtitle {
  font-family: "Days One Regular";
  width: 100%;
  color: #fff;
  @include fluid(font-size, 24px, 32px);
  @include fluid(margin-bottom, 20px, 30px);
  span {
    @include textGradient;
  }
}
.cryppo {
  text-align: center;
  font-weight: 500;
  @include fluid(font-size, 24px, 36px);
}
.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.text-align {
  text-align: center;
}
.main {
  flex-grow: 1;
  @include fluid(padding-top, 100px, 130px);
  transition: 0.38s ease-in-out;
}
.container {
  @include container;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.margin {
  @include fluid(margin-bottom, 30px, 110px);
}
.sidebar {
  width: 30%;
  &__inner {
    padding-bottom: 0.1px;
  }
}
.content {
  width: 68%;
}
.carousel__slider {
  overflow: visible !important;
}
.carousel__dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #6d6d6d;
}
.my-node {
  transition: 0.38s ease-in-out;
}
.my-node-enter {
  opacity: 0;
}
.my-node-enter-done {
  opacity: 1;
  transition: opacity 1000ms;
}
.my-node-exit {
  opacity: 0;
}
.ant-pagination-item-link {
  border: none !important;
}
.ant-input-affix-wrapper {
  padding: 0 11px;
}
.ant-select-multiple .ant-select-selection-item {
  max-width: 100%;
  border-radius: 15px !important;
}
.ant-pagination-item {
  border: none !important;
  a {
    color: #6d6d6d !important;
  }
}
.ant-pagination-item {
  a {
    color: #6d6d6d !important;
  }
}
.ant-pagination-item-active {
  background: linear-gradient(91.42deg, #2f69ff 0%, #bc2fff 100%);
  border-radius: 30px;
  border: none !important;
  a {
    color: #fff !important;
  }
}
.my-node-exit-done {
  opacity: 1;
  transition: opacity 1000ms;
}
.exit {
  opacity: 1;
  height: 100%;
}
.exit-active {
  opacity: 0;
  height: 0px;
  transition: all 0.38s;
}
.ReactModal__Overlay {
  opacity: 0;
  position: fixed;
  z-index: 10;
  inset: 0px;
  background-color: rgba(196, 196, 196, 0.2) !important;
  backdrop-filter: blur(3px);
  transition: 0.38s ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
.list-body {
  position: absolute;
  top: 45px;
  z-index: 1;
  width: 230px;
  @include fluid(padding, 10px, 20px);
  display: flex;
  align-items: center;
  overflow: hidden;
  background: rgba(91, 91, 91, 0.2);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  transition: all 380ms ease-in-out;
  img {
    @include fluid(width, 30px, 50px);
    @include fluid(height, 30px, 50px);
    object-fit: contain;
    @include fluid(margin-right, 5px, 10px);
    border-radius: 50%;
  }
}
a {
  color: #fff;
  &:hover {
    color: #fff;
  }
}
.list {
  padding: 0;
  list-style-type: none;
}
.ant-select,
.ant-select-selector {
  height: 44px !important;
}
.ant-input {
  height: 44px;
}
.list-transition-enter,
.list-transition-appear {
  top: 0;
  width: 200px;
  max-height: 40px;
  color: transparent;
  background: rgba(91, 91, 91, 0.2);
  transition: all 380ms ease-in-out;
  color: transparent;
}
.list-transition-enter-active,
.list-transition-appear-active {
  top: 45px;
  width: 215px;
  max-height: 200px;
  background: #2d2d2d;
  transition: all 380ms ease-in-out;
  color: transparent;
}
.ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector::after {
  content: none;
}
.ant-select-single .ant-select-selector .ant-select-selection-item::after {
  content: none;
}
.list-transition-exit {
  top: 45px;
  width: 215px;
  color: transparent;
  max-height: 200px;
  background: #2d2d2d;
  transition: all 380ms ease-in-out;
}
.list-transition-exit-active {
  top: 0;
  width: 200px;
  max-height: 40px;
  color: transparent;
  background: rgba(91, 91, 91, 0.2);
  transition: all 380ms ease-in-out;
}
.list-text {
  @include fluid(margin-bottom, 10px, 15px);
}

.next {
  @include fluid(width, 15px, 22px);
  @include fluid(height, 15px, 22px);
  background: url("../Images/icon/sec-next.svg") no-repeat;
  background-size: contain;
  position: absolute;
  right: 0px;
  top: 0;
  z-index: 3;
  cursor: pointer;
}
.prev {
  @include fluid(width, 15px, 22px);
  @include fluid(height, 15px, 22px);
  background: url("../Images/icon/sec-prev.svg") no-repeat;
  background-size: contain;
  position: absolute;
  right: 25px;
  top: 0;
  z-index: 3;
  @include fluid(margin-right, 5px, 10px);
  cursor: pointer;
}
.nextE {
  @include fluid(width, 15px, 22px);
  @include fluid(height, 15px, 22px);
  background: url("../Images/icon/sec-next.svg") no-repeat;
  background-size: contain;
  background-position: center;
  right: 0px;
  top: 0;
  z-index: 3;
  cursor: pointer;
}
.prevE {
  @include fluid(width, 15px, 22px);
  @include fluid(height, 15px, 22px);
  background: url("../Images/icon/sec-prev.svg") no-repeat;
  background-size: contain;
  background-position: center;

  top: 0;
  z-index: 3;
  @include fluid(margin-right, 5px, 10px);
  cursor: pointer;
}
.dot {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  @include fluid(margin-top, 10px, 15px);
  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    border: 1px solid #6d6d6d;
    border-radius: 50%;
    margin-right: 5px;
    &-active {
      background: #6d6d6d;
    }
  }
}
.checkDot {
  display: flex;
  align-items: center;
  justify-content: center;
  @include fluid(margin-bottom, 25px, 30px);
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border: 1px solid #6d6d6d;
    border-radius: 50%;
    margin-right: 15px;
    &-active {
      background: #6d6d6d;
    }
  }
}
.CheckItem {
  display: flex;
  align-items: center;
  @include fluid(margin-bottom, 15px, 20px);
}
.Dropdown {
  background: url("../Images/icon/dropdown.svg") no-repeat;
  @include fluid(width, 8px, 10px);
  @include fluid(height, 8px, 10px);
  background-size: contain;
  @include fluid(margin-left, 10px, 12px);
  transition: 0.38s ease-in-out;
}
.ant-dropdown-open {
  .CheckItem {
    .Dropdown {
      transform: rotate(180deg);
    }
  }
}

.checkPrev {
  @include fluid(width, 15px, 20px);
  @include fluid(height, 15px, 20px);
  background: url("../Images/icon/checkPrev.svg") no-repeat;
  background-size: contain;
  position: absolute;
  left: -40px;
  top: 40%;
  transform: translate(-50%);
  z-index: 3;
  cursor: pointer;
}
.checkNext {
  @include fluid(width, 15px, 20px);
  @include fluid(height, 15px, 20px);
  background: url("../Images/icon/checkNext.svg") no-repeat;
  background-size: contain;
  position: absolute;
  right: -60px;
  top: 40%;
  transform: translate(-50%);
  z-index: 3;
  cursor: pointer;
}
.dotE {
  display: flex;
  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    border: 1px solid #6d6d6d;
    border-radius: 50%;
    margin-right: 5px;
    &-active {
      background: #6d6d6d;
    }
  }
}
.terminal {
  transition: 0.38s ease-in-out;
}
.swiper-wrapper {
  @include fluid(padding-top, 7px, 10px);
  @include fluid(padding-bottom, 7px, 10px);
}
.react-tabs__tab--selected {
  background: $blueGradient;
}

.accordion-wrapper__content-enter {
  overflow: hidden;
  max-height: 0;
}

.accordion-wrapper__content-enter-active {
  max-height: 1000px;
  transition: max-height 0.6s ease-in-out;
}

.accordion-wrapper__content-exit {
  max-height: 1000px;
}

.accordion-wrapper__content-exit-active {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s cubic-bezier(0, 1, 0, 1);
}
.ant-table {
  background: none !important;
}
.ant-table-pagination.ant-pagination{
  @include fluid(margin-top, 25px, 50px);
  justify-content: center;
}
.ant-table-cell {
  padding: 0 !important;
  border-radius: 0;
  background: none !important;
  border: none !important;
  border-top-left-radius: 0;
  &::before {
    display: none;
  }
}
.ant-table-row{
  @include fluid(padding-bottom,10px,50px);
  @include fluid(padding-top,10px,15px);
  position: unset !important;
}
.ant-table-cell{
  background: rgba(45, 45, 45, 0.4) !important;
}
@media screen and(max-width:992px) {
  .subtitle {
    width: 100%;
    text-align: center;
  }
  .main {
    padding-top: 30px;
  }
}
@media screen and(max-width:768px) {
  .flex {
    flex-direction: column;
    align-items: center;
  }
  .sidebar {
    width: 100%;
    align-items: center;
  }
  .content {
    width: 100%;
  }
  .ant-picker-panels {
    display: flex;
    flex-direction: column;
  }
  .sidebar {
    &__inner {
      margin-bottom: 30px;
    }
  }
  .block {
    margin-bottom: 30px;
  }
  .ant-select-selection-overflow {
    flex-wrap: unset;
  }
  .ant-select-selection-overflow-item {
    display: flex;
  }
  .ant-picker-range {
    width: 100%;
  }
}
