@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
@import "../Style/Mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
button {
  border: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Montserrat", sans-serif;
  background: #ffffff;
  color: #000000;
  height: 100%;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  max-width: 100%;
}
.content{
  min-height: 100vh;
  @include container;

}
.ant-avatar {
  background: transparent;
  width: fit-content;
  height: fit-content;
  img {
    @include fluid(width, 18px, 20px);
    @include fluid(height, 18px, 20px);
    object-fit: contain;
  }
}
.ant-badge-count {
  padding: 0 0;
}
.ant-scroll-number {
  @include fluid(width, 8px, 9px);
  @include fluid(height, 8px, 9px);
  border: none;
  background: $green;
  box-shadow: none;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ant-scroll-number-only-unit {
  @include fluid(font-size, 4px, 5px);
  line-height: 6px;
  font-weight: 700;
  color: #000000;
}
.ant-scroll-number-only {
  @include fluid(height, 8px, 9px);
  @include fluid(width, 8px, 9px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product{
  display: flex;
  justify-content: space-between;
}
.filter{
  width: 18%;
}
.cards{
  width: 75%;
  display: flex;
  flex-wrap: wrap;
}
.ant-slider-track{
  background-color: $green;
}
.ant-slider-handle {
  border: solid 2px $green;
}
.ant-slider-handle .ant-tooltip-open {
  border-color:$green;
}
.ant-slider-handle:focus{
  border: solid 2px $green;
}
.ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open){
  border-color: $green;
}
.ant-slider:hover .ant-slider-track{
  background-color: $green;
}
.ant-checkbox-wrapper + .ant-checkbox-wrapper{
  margin-left: 0;
}
.ant-checkbox-wrapper{
 @include fluid(margin-top, 10px, 15px);
}
.ant-checkbox-checked .ant-checkbox-inner{
  background-color: $green;
  border-color: $green;
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner{
  border-color: $green;
}
.lk{
  @include  container;
  display: flex;
  min-height: 100vh;
  @include fluid(margin-top, 50px, 110spx);
  @include fluid(margin-bottom, 50px, 110px);
}
.block{
  width: 70%;
}
.title{
  @include fluid(font-size,18px, 24px);
  color: #000;
  position: relative;
  font-weight: 700;
  @include fluid(margin-bottom, 35px, 70px);
  &:before{
    position: absolute;
    bottom: -20px;
    left: 0;
    content: "";
    background: #00FFC2;
    @include fluid(width, 150px, 350px);
    height: 3px;
  }
}