@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
@import "../Style/Mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: none;
}
a{
  text-decoration: none;
}
body {
  font-family: "Montserrat", sans-serif;
  background: #ffffff;
  color: #000000;
  height: 100%;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  max-width: 100%;
}
