@import "../../style/Mixins.scss";

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  li {
    @include fluid(margin-right, 35px, 70px);
  }
}
.link {
  @include fluid(font-size, 12px, 14px);
  font-weight: 500;
  color: #fff;
  transition: 0.38s ease-in-out;
  position: relative;
  &:before {
    width: 0%;
    height: 5px;
    background: $green;
    position: absolute;
    content: "";
    @include fluid(top, 37px, 49px);
    left: 50%;
    transform: translate(-50%);
    transition: 0.38s ease-in-out;
  }
  &:hover {
    color: $green;
    &:before {
      width: 100%;
    }
  }
}
.active {
  color: $green;
  &:before {
    width: 100%;
  }
}
.nav {
  display: flex;
  align-items: center;
}
.iconItem {
  @include fluid(margin-right, 20px, 40px);
  &:last-child {
    margin-right: 0;
  }
}
